@font-face {
    font-family: 'SF Compact Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF Compact Display Medium'), url('fonts/sf-compact-display-medium-58646eb43a785.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    outline: none;
}

body {
    min-height: 1000px;
    background: #fff;
    color: black;
}

body section h1::selection,
body section p a::selection {
    color: white;
    background: rgb(255, 80, 138);
}

body section p::selection,
body section h2::selection {
    color: white;
    background: #000;
}

body.dark section h1::selection,
body.dark section p a::selection {
    color: #000;
    background: #00ffea;
}

body.dark section p::selection,
body.dark section h2::selection {
    color: #000;
    background: #fff;
}

/* 
body::-webkit-scrollbar-track {
    background: rgb(0, 58, 39);
}

body::-webkit-scrollbar-thumb {
    background: rgb(139, 139, 139);
} */

body.dark {
    color: #fff;
    background: black;
}

body.dark footer a:hover,
body.dark footer a:focus {
    color: #00ffea;
    border-color: #00ffea;
}

body.dark section p a,
body.dark section h1 {
    color: #00ffea;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
    z-index: 100;
}

header.sticky {
    height: 80px;
    color: black;
    background-color: black;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

header.sticky img {
    opacity: 0.4;
    transition: 1s;
}

header img::selection,
header.sticky img::selection,
header .logo::selection,
header.sticky .logo::selection,
header.sticky li a::selection,
header.sticky li button::selection {
    background: none;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12vw;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
    text-decoration: none;
    letter-spacing: -8px;
    transition: 1s;
    z-index: 1;
    text-shadow: 5px 5px 25px black;
    text-transform: uppercase;
}

header.sticky .logo {
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0, -50%);
    transition: 1s;
    letter-spacing: -2px;
    color: #fff;
    text-transform: none;
}

header nav {
    position: relative;
    display: flex;
    z-index: 1;
}

header nav ul {
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
    margin-right: 25px;
}

header.sticky nav ul {
    opacity: 1;
    transition: 0.25s;
    transform: translateX(0);
    transition-delay: 0.75s;
}

header nav ul li {
    list-style: none;
}

header nav ul li a,
header nav ul li button {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

header nav ul li a:hover,
header nav ul li button:hover {
    color: rgb(255, 80, 138);
}



main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body.dark .jokeBg {
    filter: invert(0);
}
body.dark .jokeBg::selection,
body.dark .jokeBg .jokeBg-img::selection {
    filter: grayscale(100%);
}
.jokeBg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    filter: invert(0);
    z-index: -1;
    filter: invert(1) grayscale(100%);
    transition: 0.5s;
}

.jokeBg .jokeBg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jokeBg .jokeBg-img:nth-child(2) {
    mix-blend-mode: multiply;
} 

/* .backgroundContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 50px;
    height: 100px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
} */

main section br::selection {
    background: none;
}

body main #glitchyTitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 50%;
    color: #000;
    overflow: hidden;
    display: inline-block;
    font-size: 5em;
    padding: 10px;
    padding-left: 0;
    letter-spacing: -5px;
}

body.dark main #glitchyTitle {
    color: #fff;
}

.Gtbox {
    position: absolute;
    overflow: hidden;
}

.Gtbox::before {
    content: "GameGlitch";
}

#scrollpath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#preogressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 50%;
    background: linear-gradient(to top, gold, rgb(255, 80, 138));
    animation: animate 5s linear infinite;
}

#preogressbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, gold, rgb(255, 80, 138));
    filter: blur(10px);

}

#preogressbar::after {
    content: "";
}

@keyframes animate {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 0px;
}

#percent {
    letter-spacing: -2px;
    text-transform: uppercase;
    position: fixed;
    top: 25%;
    transform: translateY(-50%);
    left: 5px;
    color: grey;
    font-size: 1.5em;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    cursor: default;
    z-index: 10;
}

#percent::selection {
    background: none;
}

main section {
    margin-top: 20vh;
    padding: 100px;
}

main section h2 {
    font-size: 3em;
    transition: 1s;
    text-transform: uppercase;
    letter-spacing: -5px;
}

main section p {
    font-size: 1.2em;
    letter-spacing: -1px;
}

main section p a {
    text-decoration: none;
    color: rgb(255, 80, 138);
}

main section p a:hover {
    opacity: 0.5;
}

body main section i {
    transition: 0.5s;
}

body main section i:hover {
    color: rgb(255, 80, 138);
    transform: rotate(360deg);
    transition: 1s;
}

body.dark main section i:hover {
    color: #00ffea;
    animation: animationBomb 5s linear infinite;
}

body main section i:hover {
    animation: animationBomb 5s linear infinite;
}

@keyframes animationBomb {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(90deg);
    }
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 320px;
    height: 400px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
    animation: animation 5s linear infinite;
    opacity: 0.8;
}

body.dark .container .box {
    animation: animationDark 5s linear infinite;
}

@keyframes animationDark {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(90deg);
    }
}

@keyframes animation {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(45deg);
    }
}

.container .box:hover {
    transform: translateY(-20px);
}

.container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #ffe498, #00ffea);
    border-radius: 5px;
}

.container .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #ffe498, #00ffea);
    filter: blur(30px);
}

body.dark .container .box::before,
body.dark .container .box::after {
    background: linear-gradient(315deg, #ff81ea, #00eeff);
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
    background: linear-gradient(45deg, #ff719c, #73ffff);
}

body.dark .container .box:nth-child(2)::before,
body.dark .container .box:nth-child(2)::after {
    background: linear-gradient(270deg, #f1ff71, #73ffff);
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
    background: linear-gradient(45deg, #8dff57, #ff74e8);
}

body.dark .container .box:nth-child(3)::before,
body.dark .container .box:nth-child(3)::after {
    background: linear-gradient(45deg, #4dff03, #00d0ff);
}

.container .box span {
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    opacity: 0.5;
    transition: 0.75s;
}

body.dark .container .box span {
    opacity: 1;
}

.container .box .content {
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.container .box .content h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.container .box .content p {
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 10px;
}

.container .box .content h2::selection,
.container .box .content p::selection {
    background: none;
    color: #000;
}
.container .box .content a {
    font-size: 1.1em;
    display: inline-block;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    font-weight: 700;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.container .box .content a::selection {
    background: none;
}

.container .box .content a:hover {
    background: none;
    color: #fff;
    font-size: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
}
.textInput {
    position: relative;
    width: 100%;
    user-select: none;
}

.textInput input {
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px 0 20px;
    background: none;
    outline: none;
    padding-left: 0;
    font-size: 100%;
    letter-spacing: 4px;
    color: #fff;
    transition: 0.5s;
}

.textInput input::selection {
    color: #000;
    background: none;
}

.textInput input::placeholder {
    letter-spacing: 0px;
    color: #fff;
}

.textInput #gnrt {
    font-size: 1.1em;
    display: inline-block;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    font-weight: 700;
    transition: 0.5s;
    transition-delay: 0.25s;
    cursor: pointer;
}

#gnrt:hover {
    background: none;
    color: #fff;
    font-size: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
}

#gnrt::selection {
    background: none;
}

#gnrt:active {
    background: none;
}



footer {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(29, 29, 29);
    padding: 10px 20px;
    align-items: center;
    z-index: 1;
}

footer p::selection {
    background: none;
}

.footerLeft {
    display: flex;
    align-items: center;
}
.footer-list::selection {
    background: none;
}

.footer-list svg {
    color: rgba(255, 255, 255, 0.2);
    width: 3em;
}

.footer-info {
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Inconsolata', monospace;
    font-size: 10px;
    width: 25%;
    margin-left: 15px;
    cursor: default;
}

.brands {
    display: flex;
    position: relative;
    margin-left: auto;
}

.brands li {
    list-style: none;
    margin: 10px;
}

.brands li a {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.2);
    font-size: 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.brands li a:hover {
    color: rgb(255, 80, 138);
    border: 1px solid rgb(255, 80, 138);
}

.brands li a::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skew(45deg) translateX(150px);
    transition: 0.5s;
}

.brands li a:hover::before {
    transform: skew(45deg) translateX(-150px);
}

.brands li a:focus {
    color: rgb(255, 80, 138);
    border-color: rgb(255, 80, 138);
}

/* Phone */

@media (max-width: 991px) {
    body.dark header.sticky,
    body.dark header.sticky nav ul {
        color: #000;
        background-color: #fff;
    }
    body.dark header.sticky .logo,
    body.dark header.sticky nav ul li a,
    body.dark header.sticky nav ul li button {
        color: #000;
        text-shadow: none;
    }
    main section,
    header {
        padding: 40px;
    }
    header.sticky {
        color: black;
        background-color: black;
    }
    header .logo {
        letter-spacing: -1px;
    }
    body main #glitchyTitle {
        width: 100%;
        color: #000;
        font-size: 4em;
    }
    body.dark main #glitchyTitle {
        color: #fff;
    }
    main section h2 {
        font-size: 2em;
    }
    .container {
        padding: 0;
    }
    .container .box {
        width: 40vh;
        height: 100%;
        margin: 20px 0;
    }
    .container .box .content h2 {
        font-size: 2em;
    }
    .container .box .content p {
        font-size: 1em;
    }
    #scrollpath,
    #preogressbar {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    #percent {
        top: 25%;
        right: 15px;
        font-size: 1em;
    }
    header.sticky img {
        opacity: 0;
    }
    header.sticky .logo {
        left: 40px;
    }
    header.sticky nav ul {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    header.sticky nav.active ul {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 1;
        visibility: visible;
    }
    header.sticky nav ul li a,
    header.sticky nav ul li button {
        font-size: 2em;
        outline: none;
    }
    header.sticky .toggle {
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #fff center no-repeat url("assets/menu.png");
        background-size: 60%;
        transition: 0.25s;
    }
    header.sticky .toggle.active {
        cursor: pointer;
        background: #fff center no-repeat url("assets/close.png");
        background-size: 60%;
        transition: 0.25s;
    }
    footer {
        width: 100%;
    }
    .footerLeft {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .brands {
        margin: 0 auto;
    }
    .brands li a {
        color: #fff;
        border-color: #fff;
    }
    body.dark .brands li a {
        color: #000;
        border-color: #000;
    }
    body footer {
        background-color: #000;
    }
    body.dark footer {
        background: #fff;
    }
}